@charset "utf-8";

// Import a Google Font
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");



// Set your brand colors
// $orange: #ffad16;
// $blue: #65cde7;
// $green:#18c25f;
// $list1: $blue, $green, $orange; 
// @mixin gradient($direction, $list) {
// 	background: -webkit-linear-gradient($direction, $list);
// 	background: -moz-linear-gradient($direction, $list);
// 	background: -o-linear-gradient($direction, $list);
// 	background: linear-gradient($direction, $list);
// }
// .gradientcol { @include gradient(left, $list1) }

$primary: #a8e6cf;
$secondary: #dcedc1;
$info: #fcd7be;
$warn: #ff8781;
$link: #454655;

// Update Bulma's global variables
$body-family: Rubik;


// Import utilities 
@import "../../node_modules/bulma/sass/utilities/_all.sass";

// Update some of Bulma's component variables
$background: $info;
$body-background-color: $secondary;
$footer-background-color: $primary;

// Timeline
@import "../../node_modules/bulma-timeline/src/sass/index.sass";

// Import all from Bulma
@import "../../node_modules/bulma/bulma.sass";

// Import only what you need from Bulma
@import "../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../node_modules/bulma/sass/base/_all.sass";
@import "../../node_modules/bulma/sass/elements/button.sass";
@import "../../node_modules/bulma/sass/elements/container.sass";
@import "../../node_modules/bulma/sass/elements/title.sass";
@import "../../node_modules/bulma/sass/form/_all.sass";
@import "../../node_modules/bulma/sass/components/navbar.sass";
@import "../../node_modules/bulma/sass/layout/hero.sass";
@import "../../node_modules/bulma/sass/layout/section.sass";


